/*skappr min grid*/
.column {
    display: grid;
    grid-template-columns: 250px auto 250px;
    background-color: #173c48;
    row-gap: 50px;
    padding: 0px;
}
/*Sätter att alla divs under class column har text-align center*/ 
.column > div {
    text-align: center;
}
/*det är den första classen i min grid, alltså första klassen under column klassen.
här har jag en knapp*/ 
.item1 {
    padding: 10px;
    background-color: rgb(0, 0, 0);
}
/*ger knappen i item1 än bra position och gör att man får en cursor när man hovrar över knappen*/ 
.item1 button{
    margin-left: 10px;
    margin-right: auto;
    cursor: pointer;
}
/*Gör så att knappen i item1 blir lite grå när man hovrar över den*/ 
.item1 button:hover{
    background: grey;
    transition: 0.3s;
}
/*item2 är typ som min navbar. Jag gör helt enkelt bara allt i item 2 svart 
och sätter positionen med grid.row och grid-column så att den hamna mellan item 1 och 3 som också har svart backgrund.*/ 
.item2 {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    width: auto;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}
/*i item3 har jag en till knapp. Jag sätter backgrunds färgen till svart
Sätter positionen till rad 1 och column 3*/ 
.item3 {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}
/*ger knappen i item3 än bra position innom item3
och gör att man får en cursor när man hovrar över knappen*/  
.item3 button{
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}
/*Gör så att knappen i item3 blir lite grå när man hovrar över den*/ 
.item3 button:hover{
    background: grey;
    transition: 0.3s;
}
/*Sätter ackgrunds färgen till vit, och gör en border runt den som är svart.
Ger en border radius som avrundar kanterna. Ändrar även storleken på texten
Slutligen så sätter detta även positionen. Alltså gör att item 5 är i rad 2 och column 2*/ 
.item5 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    font-size: 30px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}
/*Sätter bara positionen. Alltså bästemmer vilken rad och column som item 8 är i*/
.item8 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;      
}
/*Sätter bara positionen. Alltså bästemmer vilken rad och column som item 11 är i*/
.item11 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;      
}