/*Sätter backgrunds färgen för allt i bodyn till en mörk blå färg.*/
body {
    background-color: #173c48;
    margin: 0px;
    height: 100%;
}
/*Ändrar hur knappar ser ut och ger dem flex*/
button {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: auto;
    background: #ffffff;
    padding: 15px 32px;
}
/*paragraph*/
p {
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-align: center;
}
/*headliner*/
h1 {
    color: black;
    text-align: center;
}
/*headliner*/
h2 {
    color: black;
    text-align: center;
}
/*headliner*/
h3 {
    color: black;
    text-align: center;
}
/*en id som används för headlinern ovanför heroknappen.*/
#kontaktaMig {
    color: white;
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 65px;
}
/*en id som används för min hero knapp*/
#kontaktaBtn {
    margin-bottom: 90px;
}
/*Allt nedan är för hero button*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image.jfif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }